* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Arial";
}

body {
    background-image: url("stars.jpg");
}

#container {
    padding: 15px;
    margin: 40vh auto;
    height: 175px;
    width: 750px;
    text-align: center;
    border-radius: 10px;
    background-color:cadetblue;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    outline: 5px solid lightblue;
}

h2 {
    padding-bottom: 25px;
}

input {
    width: 65%;
    height: 30px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 15px;
}

button {
    width: 25%;
    height: 30px;
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 15px;
}

@media (max-width: 970px) {
    #container {
        width: 80%;
    }
}

@media (max-width: 400px) {
    #container {
        height: auto
    }
}